{% extends "layouts/base_invest.html" %}

{% block title %}{% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  
    <div class="perfil">
        <div class="col-12 col-xl-4-profile">
            <div class="perfil">
                <form method="POST" action="" id="form" class="mt-4">
                    <!--div class="form-group mb-4"-->
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <div>
                                <label for="textarea">Publicar Artículo</label>
                                <input type="text" class="form-control" id="titulo" placeholder="Título" name="titulo" required> 
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <div>
                                <label for="last_name">Cryptomoneda Relacionada</label>
                                <select class="form-select mb-0" name="crypto" id="crypto" aria-label="Cryptomoneda">
                                    <option value="BTC">BTC</option>
                                    <option value="ETH">ETH</option>
                                    <option value="SOL">SOL</option>
                                    <option value="DOGE">DOGE</option>
                                    <option value="ADA">ADA</option>
                                    <option value="CAKE">CAKE</option>
                                </select>
                            </div>
                        </div>
                    </div>
                        <div class="input-group">
                            <textarea class="form-control" placeholder="Ingresa algo para publicar..." name="publicación" id="txtvoz" rows="4"></textarea>                      
                        </div>
                        <!--div class="col-md-6 mb-3">
                            <select aria-placeholder="Selecciona la cryptomoneda relacionada" class="form-select mb-0" id="gender" aria-label="Gender select example">
                                <option selected>Gender</option>
                                <option value="1">Female</option>
                                <option value="2">Male</option>
                            </select>
                        </div-->
                        <div>
                            <li role="separator" class="dropdown-divider mt-4 mb-3 "></li>
                        </div>
                    <div>
                        <button class="btn btn-sm btn-gray-800 d-inline-flex align-items-center me-2" id="guardar_articulo" type="submit">
                            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="floppy-disk"  class="icon icon-xs me-1" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M433.1 129.1l-83.9-83.9C342.3 38.32 327.1 32 316.1 32H64C28.65 32 0 60.65 0 96v320c0 35.35 28.65 64 64 64h320c35.35 0 64-28.65 64-64V163.9C448 152.9 441.7 137.7 433.1 129.1zM224 416c-35.34 0-64-28.66-64-64s28.66-64 64-64s64 28.66 64 64S259.3 416 224 416zM320 208C320 216.8 312.8 224 304 224h-224C71.16 224 64 216.8 64 208v-96C64 103.2 71.16 96 80 96h224C312.8 96 320 103.2 320 112V208z"></path></svg>
                            Publicar
                        </button>
                        <button class="btn btn-sm btn-gray-800 d-inline-flex align-items-center me-2" id="hablar" type="button" >
                            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="microphone" class="icon icon-xs me-1" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path fill="currentColor" d="M192 352c53.03 0 96-42.97 96-96v-160c0-53.03-42.97-96-96-96s-96 42.97-96 96v160C96 309 138.1 352 192 352zM344 192C330.7 192 320 202.7 320 215.1V256c0 73.33-61.97 132.4-136.3 127.7c-66.08-4.169-119.7-66.59-119.7-132.8L64 215.1C64 202.7 53.25 192 40 192S16 202.7 16 215.1v32.15c0 89.66 63.97 169.6 152 181.7V464H128c-18.19 0-32.84 15.18-31.96 33.57C96.43 505.8 103.8 512 112 512h160c8.222 0 15.57-6.216 15.96-14.43C288.8 479.2 274.2 464 256 464h-40v-33.77C301.7 418.5 368 344.9 368 256V215.1C368 202.7 357.3 192 344 192z"></path></svg>
                            Hablar
                        </button>
                        <!-- Button Modal -->
                        <button type="button" class="btn btn-sm btn-gray-800 d-inline-flex align-items-center me-2" data-bs-toggle="modal" data-bs-target="#modal-achievement">Achievement</button>
                        <!-- Modal Content -->
                        <div class="modal fade" id="modal-achievement" tabindex="-1" role="dialog" aria-labelledby="modal-achievement" aria-hidden="true">
                            <div class="modal-dialog modal-tertiary modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <button type="button" class="btn-close theme-settings-close fs-6 ms-auto" data-bs-dismiss="modal" aria-label="Close"></button>
                                    <div class="modal-header mx-auto">
                                        <p class="lead mb-0 text-white">Selecciona una imagen</p>
                                    </div>
                                    <div class="modal-body pt-0">
                                        <div class="col-12 mb-4">
                                            <div class="card border-0 shadow">
                                                <div class="card-header">
                                                    <div class="row align-items-center">
                                                        <div class="col">
                                                            <h2 class="fs-5 fw-bold mb-0">Criptomonedas</h2>
                                                        </div>
                                                    </div>
                                            <div class="row">
                                                <div class="col-12 col-sm-6 col-xl-4 mb-4">
                                                    <div class="col-12 mb-4">
                                                        <div>
                                                            <div class="card">
                                                                <img class="mx-auto" src="/static/assets/img/cryptos/BTC_Logo.svg" title='BTC' height="250" width="250">
                                                                <div class="">
                                                                    <a class="card-body fs-5 fw-bold mb-0 col d-block d-xl-flex align-items-center" href="/art-trader/{{'BTC'}}">Conoce a Bitcoin</a>
                                                                    <div class="card border-0 shadow">
                                                                        <div class="card-body">
                                                                            <!--span class="badge bg-success">Good crypto</span-->
                                                                       </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                    
                                                <div class="col-12 col-sm-6 col-xl-4 mb-4">
                                                    <div class="col-12 mb-4">
                                                        <div>
                                                            <div class="card ">
                                                                <img class="mx-auto" src="/static/assets/img/cryptos/ethereum-eth.svg" title='ETH' height="250" width="250">
                                                                <div class="">
                                                                    <a class="card-body fs-5 fw-bold mb-0 col d-block d-xl-flex align-items-center" href="/art-trader/{{'ETH'}}">Conoce a Ethereum</a>
                                                                    <div class="card border-0 shadow">
                                                                        <div class="card-body">
                                                                            <!--span class="badge bg-success">Good crypto</span-->
                                                                       </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                    
                                                <div class="col-12 col-sm-6 col-xl-4 mb-4">
                                                    <div class="col-12 mb-4">
                                                        <div>
                                                            <div class="card">
                                                                <img class="mx-auto"  src="/static/assets/img/cryptos/solana-logo.svg" title='SOL' height="250" width="250">
                                                                <div class="">
                                                                    <a class="card-body fs-5 fw-bold mb-0 col d-block d-xl-flex align-items-center" href="/art-trader/{{'SOL'}}">Conoce a Solana</a>
                                                                    <div class="card border-0 shadow">
                                                                        <div class="card-body">
                                                                             <!--span class="badge bg-success">Good crypto</span-->
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    
                                        <div class="col-12 mb-4">
                                            <div class="border-0">
                                                <div class="card-header">
                                                    <div class="row">
                                                        <div class="col-12 col-sm-6 col-xl-4 mb-4">
                                                            <div class="col-12 mb-4">
                                                                <div>
                                                                    <div class="card">
                                                                        <img class="mx-auto" src="https://cryptologos.cc/logos/pancakeswap-cake-logo.svg?v=014" title='CAKE' height="250" width="250">
                                                                        <div class="">
                                                                            <a class="card-body fs-5 fw-bold mb-0 col d-block d-xl-flex align-items-center" href="/art-trader/{{'CAKE'}}">Conoce a PancakeSwap</a>
                                                                            <div class="card border-0 shadow">
                                                                                <div class="card-body">
                                                                                    <!--span class="badge bg-success">Good crypto</span-->
                                                                            </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                    
                                                        <div class="col-12 col-sm-6 col-xl-4 mb-4">
                                                            <div class="col-12 mb-4">
                                                                <div>
                                                                    <div class="card ">
                                                                        <img class="mx-auto" src="https://cryptologos.cc/logos/dogecoin-doge-logo.svg?v=014" title='DOGE' height="250" width="250">
                                                                        <div class="">
                                                                            <a class="card-body fs-5 fw-bold mb-0 col d-block d-xl-flex align-items-center" href="/art-trader/{{'DOGE'}}">Conoce a Dogecoin</a>
                                                                            <div class="card border-0 shadow">
                                                                                <div class="card-body">
                                                                                    <!--span class="badge bg-success">Good crypto</span-->
                                                                            </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                    
                                                        <div class="col-12 col-sm-6 col-xl-4 mb-4">
                                                            <div class="col-12 mb-4">
                                                                <div>
                                                                    <div class="card">
                                                                        <img class="mx-auto"  src="https://cryptologos.cc/logos/cardano-ada-logo.svg?v=014" title='ADA' height="250" width="250">
                                                                        <div class="">
                                                                            <a class="card-body fs-5 fw-bold mb-0 col d-block d-xl-flex align-items-center" href="/art-trader/{{'ADA'}}">Conoce a Cardano</a>
                                                                            <div class="card border-0 shadow">
                                                                                <div class="card-body">
                                                                                    <!--span class="badge bg-success">Good crypto</span-->
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>    
                                        </div>
                                    </div>
                                    <!--div class="modal-footer d-flex justify-content-center pt-0 pb-3">
                                        <button type="button" class="btn btn-sm btn-white text-tertiary" data-bs-dismiss="modal">Awesome!</button>
                                    </div-->
                                </div>
                            </div>
                        </div>
                        <!-- End of Modal Content -->
                    </div>
                </form>
            </div>
        </div>
    </div>
   
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script >
    const swalWithBootstrapButtons = Swal.mixin({
            customClass: {
                confirmButton: 'btn btn-primary',
                cancelButton: 'btn btn-gray'
            },
            buttonsStyling: false
        });
        const form = document.getElementById('form');
    form.addEventListener('submit', function () {
            swalWithBootstrapButtons.fire({
                icon: 'success',
                title: 'Success alert',
                text: 'Artículo Guardado exitosamente !',
                showConfirmButton: true,
                timer: 1500
            })
        });

        document.getElementById('hablar').addEventListener('click', function () {
            const notyf = new Notyf({
                position: {
                    x: 'right',
                    y: 'bottom',
                },
                types: [
                    {
                        type: 'success',
                        background: '#0948B3',
                        icon: {
                            className: 'fas fa-times',
                            tagName: 'span',
                            color: '#fff'
                        },
                        dismissible: false
                    }
                ]
            });
            notyf.open({
                type: 'success',
                message:'Habla !'
            });
        });
</script>
<script src="static/assets/js/voz.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>      
{% endblock javascripts %}

