{% extends "layouts/base_trader.html" %}

{% block title %}{% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<!--Dashboard-->
    <div class="col-12 mb-4">
        <div class="card border-0 shadow">
            <div class="card-header">
                <div class="row align-items-center">
                    <div class="col">
                        <h2 class="fs-5 fw-bold mb-0">Criptomonedas</h2>
                    </div>
                </div>
                <div class="row">
                    {% for crypto in cryptos %}
                    <div class="col-12 col-sm-6 col-xl-4 mb-4">
                        <div class="col-12 mb-4">
                            <div>
                                <div class="card">
                                    <a href="/art-trader/{{ crypto.link }}">
                                    <img class="mx-auto row align-items-center" src="{{ crypto.fotoCrypto }}" title='{{crypto.nombreCriptomoneda}}' height="250" width="250">
                                    </a>
                                    <div class="">
                                        <a class="card-body fs-5 fw-bold mb-0 col d-block d-xl-flex align-items-center" href="/art-trader/{{ crypto.link }}">Conoce a {{ crypto.nombreCriptomoneda }}</a>
                                        <div class="card border-0 shadow">
                                            <div class="card-body">
                                                <!--span class="badge bg-success">Good crypto</span-->
                                           </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
        
                </div>
            </div>
        </div>
    </div>
    

    <!--fontawesom script cdn-->
    <script src="https://use.fontawesome.com/058028e14d.js"></script>
    <script src="/static/assets/js/cryptoprice.js"></script>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}