{% extends "layouts/base_trader.html" %}

{% block title %} Artículos {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="row">
    <div class="col-12">
        <div class="row">
            <div class="col-12 mb-4">
                <div class="card border-light shadow-sm components-section">
                    <div class="card-body">     
                        <div class="row mb-4 mb-lg-5">                                           
                            <div class="col-12 col-md-6">                      
                                <h1 class="display-2">Display 2</h1>
                            </div>
                        </div>  

                        <div class="row mb-4 mb-lg-5">
                            <div class="col-md-2">
                            </div>
                                <div class="col-md-8">
                                <div class="mb-3">
                                <span class="h6 font-weight-bold">Simple paragraph</span>
                                </div>
                                <p>Start your development with a Pixel Design System for Bootstrap 4. Themesberg makes beautiful products to help people with creative ideas succeed.Our company empowers millions of people.
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="mt-6 mb-5">
                                    <span class="h6">Blockquote</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <blockquote class="blockquote text-center">
                                    Themesberg makes beautiful products to help people with creative ideas succeed. Our company empowers millions of people.
                                    <footer class="blockquote-footer mt-3 text-primary">Zoltan Szőgyényi</footer>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
