{% extends "layouts/base_trader.html" %}

{% block title %} Artículos {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="row">
    <div class="col-12">
        <div class="row">
            <div class="col-12 mb-4">
                <div class="card border-light shadow-sm components-section">
                    <div class="profile-cover rounded-top" data-background="{{articulo.fotoArticulo}}"></div>
                    <div class="card-body">     
                        <div class="row mb-4 mb-lg-5">  
                            <div class="col-md-2">
                            </div>                                         
                            <div class="col-md-8">                      
                                <h1 class="display-2">{{articulo.nombreArticulo}}</h1>
                                <p class="blockquote blockquote-footer mt-3 text-primary">Autor: {{articulo.autorArticulo}} / Fecha de publicación: 
                                {{articulo.fechaDePublicacion.strftime("%b %d %Y ")}}</p>
                            </div>
                        </div>  

                        <div class="row mb-4 mb-lg-5">
                            <div class="col-md-2">
                            </div>
                            <div class="col-md-8">
                                <div class="mb-3">
                                <!--span class="h6 font-weight-bold">Simple paragraph</span-->
                            </div>
                            <p class="lead">
                                {{articulo.articulo}}
                            </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                            </div>
                            <div class="col-md-8">
                                <span class="h6">Blockquote</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                            </div>
                            <div class="col-md-8">
                                <blockquote class="blockquote text-center">
                                    Themesberg makes beautiful products to help people with creative ideas succeed. Our company empowers millions of people.
                                    <footer class="blockquote-footer mt-3 text-primary">Zoltan Szőgyényi</footer>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
