{% extends "layouts/base_trader.html" %}

{% block title %}{% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    <div class="perfil">
        <div class="col-12 col-xl-4-profile">
            <div class="perfil">
                <div class="col-12 justify-content-between mb-4">
                    <div class="card shadow border-0 text-center p-0">
                        <div class="profile-cover" data-background="/static/assets/img/bitcoin.jpg"></div>
                        <div class="card-body pb-5">
                            <img src="/static/assets/img/trader.png" class="avatar-xl rounded-circle mx-auto mt-n7 mb-4" alt="Neil Portrait">
                            <h4 class="h3">
                                {{ name }}
                            </h4>
                            <h5 class="fw-normal">
                                {{ current_user.tipoUsuario }}
                            </h5>
                        </div>
                      </div>
                </div>
                
                </div>
                
            </div>
        </div>
    </div>
    <!--Dashboard-->
    <div class="col-12 mb-4">
        <div class="card border-0 shadow">
    <!--Ranking Cryptos-->
    <div class="row">
        <div class="col-12 col-xl-12">
            <div class="row">
                <div class="col-12 mb-4">
                    <div class="border-0">
                        <div class="card-header">
                            <div class="row align-items-center">
                                <div class="col">
                                    <h2 class="fs-5 fw-bold mb-0">Ranking Cryptomonedas</h2>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table align-items-center table-flush">
                                <thead class="thead-light">
                                <tr>
                                    <th class="border-bottom col-4" scope="col">Criptomoneda 
                                    </th>
                                    <!--th class="border-bottom" scope="col">Market Cap</th-->
                                    <th class="border-bottom col-4" scope="col">
                                        <div class="row">
                                            <div class="col-2">
                                                Precio
                                            </div>
                                            <div class="col-10">
                                                <a data-bs-toggle="tooltip" title="Este es el precio en tiempo de las criptomonedas.">   
                                                    <svg width="25" height="20"aria-hidden="true" focusable="false" data-prefix="far" data-icon="circle-question" class="svg-inline--fa fa-circle-question" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M256 0C114.6 0 0 114.6 0 256s114.6 256 256 256s256-114.6 256-256S397.4 0 256 0zM256 464c-114.7 0-208-93.31-208-208S141.3 48 256 48s208 93.31 208 208S370.7 464 256 464zM256 336c-18 0-32 14-32 32s13.1 32 32 32c17.1 0 32-14 32-32S273.1 336 256 336zM289.1 128h-51.1C199 128 168 159 168 198c0 13 11 24 24 24s24-11 24-24C216 186 225.1 176 237.1 176h51.1C301.1 176 312 186 312 198c0 8-4 14.1-11 18.1L244 251C236 256 232 264 232 272V288c0 13 11 24 24 24S280 301 280 288V286l45.1-28c21-13 34-36 34-60C360 159 329 128 289.1 128z"></path></svg>
                                                </a> 
                                            </div>  
                                        </div>                                                 
                                    </th>
                                    
                                    <th class="border-bottom col-4" scope="col">  
                                        <div class="row">
                                            <div class="col-3">
                                                CryptoRank 
                                            </div>    
                                            <div class="col-9">
                                                <a data-bs-toggle="tooltip" title="Este es el CryptoRank, es calculado mediante el análisis de artículos con la ayuda de inteligencia artificial.">   
                                                    <svg width="25" height="20"aria-hidden="true" focusable="false" data-prefix="far" data-icon="circle-question" class="svg-inline--fa fa-circle-question" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M256 0C114.6 0 0 114.6 0 256s114.6 256 256 256s256-114.6 256-256S397.4 0 256 0zM256 464c-114.7 0-208-93.31-208-208S141.3 48 256 48s208 93.31 208 208S370.7 464 256 464zM256 336c-18 0-32 14-32 32s13.1 32 32 32c17.1 0 32-14 32-32S273.1 336 256 336zM289.1 128h-51.1C199 128 168 159 168 198c0 13 11 24 24 24s24-11 24-24C216 186 225.1 176 237.1 176h51.1C301.1 176 312 186 312 198c0 8-4 14.1-11 18.1L244 251C236 256 232 264 232 272V288c0 13 11 24 24 24S280 301 280 288V286l45.1-28c21-13 34-36 34-60C360 159 329 128 289.1 128z"></path></svg>
                                                </a> 
                                            </div>  
                                        </div>                                           
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <th class="text-gray-900" scope="row">
                                        Bitcoin
                                    </th>
                                    <td class="fw-bolder text-gray-500" id="btc-price"> 
                                    </td>
                                    <!--DIV RANK BTC - IMG QUESTION MARK TOOTLIP-->
                                    <td class="container fw-bolder text-gray-500 row align-items-center">
                                        <div class="container">
                                            <div class="row">
                                                <div>
                                                    <h6>  
                                                        <span class="{{claseBtc}}">{{rankBtc}}</span>
                                                    </h6>
                                                </div>    
                                            </div>
                                        </div>
                                    </td>

                                </tr>
                                <tr>
                                    <th class="text-gray-900" scope="row">
                                        Ethereum
                                    </th>
                                    <td class="fw-bolder text-gray-500" id="crypto-price">
                                    </td>

                                    <td class="container fw-bolder text-gray-500 row align-items-center">
                                        <div class="container">
                                            <div class="row">
                                                <div>
                                                    <h6>     
                                                        <span class="{{claseEth}}">{{rankEth}}</span>
                                                    </h6>
                                                </div>    
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="text-gray-900" scope="row">
                                        Solana
                                    </th>
                                    <td class="fw-bolder text-gray-500" id="sol-price">
                                    </td>
                                    <td class="container fw-bolder text-gray-500 row align-items-center">
                                        <div class="container">
                                            <div class="row">
                                                <div>
                                                    <h6>     
                                                        <span class="{{claseSol}}">{{rankSol}}</span>
                                                    </h6>
                                                </div>    
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="text-gray-900" scope="row">
                                        Doge
                                    </th>
                                    <td class="fw-bolder text-gray-500" id="doge-price">
                                    </td>

                                    <td class="container fw-bolder text-gray-500 row align-items-center">
                                        <div class="container">
                                            <div class="row">
                                                <div>
                                                    <h6>     
                                                        <span class="{{claseDoge}}">{{rankDoge}}</span>
                                                    </h6>
                                                </div>    
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="text-gray-900" scope="row">
                                        Cake
                                    </th>
                                    <td class="fw-bolder text-gray-500" id="cake-price">
                                    </td>

                                    <td class="container fw-bolder text-gray-500 row align-items-center">
                                        <div class="container">
                                            <div class="row">
                                                <div>
                                                    <h6>     
                                                        <span class="{{claseCake}}">{{rankCake}}</span>
                                                    </h6>
                                                </div>    
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="text-gray-900" scope="row">
                                        Cardano
                                    </th>
                                    <td class="fw-bolder text-gray-500" id="ada-price">
                                    </td>

                                    <td class="container fw-bolder text-gray-500 row align-items-center">
                                        <div class="container">
                                            <div class="row">
                                                <div>
                                                    <h6>     
                                                        <span class="{{claseAda}}">{{rankAda}}</span>
                                                    </h6>
                                                </div>    
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <!--Cryptod-->
        <div class="card-header">
            <div class="row align-items-center">
                <div class="col">
                    <h2 class="fs-5 fw-bold mb-0">Aprende de Crypto</h2>
                </div>
        </div>
        
        <div class="row">
            {% for crypto in cryptos %}
            <div class="col-12 col-sm-6 col-xl-4 mb-4">
                <div class="col-12 mb-4">
                    <div>
                        <div class="card">
                            <a href="/art-trader/{{ crypto.link }}">
                            <img class="mx-auto row align-items-center" src="{{ crypto.fotoCrypto }}" title='{{crypto.nombreCriptomoneda}}' height="250" width="250">
                            </a>
                            <div class="">
                                <a class="card-body fs-5 fw-bold mb-0 col d-block d-xl-flex align-items-center" href="/art-trader/{{ crypto.link }}">Conoce a {{ crypto.nombreCriptomoneda }}</a>
                                <div class="card border-0 shadow">
                                    <div class="card-body">
                                        <!--span class="badge bg-success">Good crypto</span-->
                                   </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>

    <!--fontawesom script cdn-->
    <script src="https://use.fontawesome.com/058028e14d.js"></script>
    <script src="/static/assets/js/cryptoprice.js"></script>
    <!--Tooltip-->
    <script>
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl)
        })
    </script>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}