{% extends "layouts/base_trader.html" %}

{% block title %}{% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    <div class="perfil">
        <div class="col-12 col-xl-4-profile">
            <div class="perfil">
                <div class="col-12 justify-content-between mb-4">
                    <div class="card shadow border-0 text-center p-0">
                        <div class="profile-cover rounded-top" data-background="/static/assets/img/bitcoin.jpg"></div>
                        <div class="card-body pb-5">
                            <img src="/static/assets/img/trader.png" class="avatar-xl rounded-circle mx-auto mt-n7 mb-4" alt="Neil Portrait">
                            <h4 class="h3">
                                {{ name }}
                            </h4>
                            <h5 class="fw-normal">
                                {{ current_user.tipoUsuario }}
                            </h5>
                            <p class="text-gray mb-4">
                                {{ current_user.correoUsuario }}
                            </p>
                        </div>
                      </div>
                </div>
                
                </div>
                
            </div>
        </div>
    </div>
<!--Dashboard-->
    <div class="col-12 mb-4">
        <div class="card border-0 shadow">
                <!--Ranking Cryptos-->
    <div class="row">
        <div class="col-12 col-xl-12">
            <div class="row">
                <div class="col-12 mb-4">
                    <div class="border-0">
                        <div class="card-header">
                            <div class="row align-items-center">
                                <div class="col">
                                    <h2 class="fs-5 fw-bold mb-0">Ranking Cryptomonedas</h2>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table align-items-center table-flush">
                                <thead class="thead-light">
                                <tr>
                                    <th class="border-bottom col-4" scope="col">Nombre</th>
                                    <!--th class="border-bottom" scope="col">Market Cap</th-->
                                    <th class="border-bottom col-4" scope="col">Precio</th>
                                    <th class="border-bottom col-4" scope="col">CryptoRank</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <th class="text-gray-900" scope="row">
                                        Bitcoin
                                    </th>
                                    <!--td class="fw-bolder text-gray-500">
                                        1,000,000,000
                                    </td-->
                                    <td class="fw-bolder text-gray-500" id="btc-price"> 
                                    </td>
                                    <td class="fw-bolder text-gray-500">
                                        <div class="d-flex">
                                            <span class="{{claseBtc}}">{{rankBtc}}</span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="text-gray-900" scope="row">
                                        Ethereum
                                    </th>
                                    <td class="fw-bolder text-gray-500"  id="crypto-price">
                                    </td>
                                    <td class="fw-bolder text-gray-500">
                                        <div class="d-flex">
                                            <span class="{{claseEth}}">{{rankEth}}</span>
                                        </div>
                                    </td>
                                    <!--td class="fw-bolder text-gray-500">
                                        <div class="d-flex">
                                            <svg class="icon icon-xs text-success me-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M14.707 12.293a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 111.414-1.414L9 14.586V3a1 1 0 012 0v11.586l2.293-2.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                                            14,27%
                                        </div>
                                    </td-->
                                </tr>
                                <tr>
                                    <th class="text-gray-900" scope="row">
                                        Solana
                                    </th>
                                    <td class="fw-bolder text-gray-500" id="sol-price">
                                    </td>
                                    <td class="fw-bolder text-gray-500">
                                        <div class="d-flex">
                                            <span class="{{claseSol}}">{{rankSol}}</span>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <!--Cryptod-->
        <div class="card-header">
            <div class="row align-items-center">
                <div class="col">
                    <h2 class="fs-5 fw-bold mb-0">Aprende de Crypto</h2>
                </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-6 col-xl-4 mb-4">
                <div class="col-12 mb-4">
                    <div>
                        <div class="card">
                            <img class="mx-auto" src="/static/assets/img/cryptos/BTC_Logo.svg" title='BTC' height="250" width="250">
                            <div class="">
                                <a class="card-body fs-5 fw-bold mb-0 col d-block d-xl-flex align-items-center" href="/art-trader/{{'BTC'}}">Conoce a Bitcoin</a>
                                <div class="card border-0 shadow">
                                    <div class="card-body">
                                        <!--span class="badge bg-success">Good crypto</span-->
                                   </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-xl-4 mb-4">
                <div class="col-12 mb-4">
                    <div>
                        <div class="card ">
                            <img class="mx-auto" src="/static/assets/img/cryptos/ethereum-eth.svg" title='ETH' height="250" width="250">
                            <div class="">
                                <a class="card-body fs-5 fw-bold mb-0 col d-block d-xl-flex align-items-center" href="/art-trader/{{'ETH'}}">Conoce a Ethereum</a>
                                <div class="card border-0 shadow">
                                    <div class="card-body">
                                        <!--span class="badge bg-success">Good crypto</span-->
                                   </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-xl-4 mb-4">
                <div class="col-12 mb-4">
                    <div>
                        <div class="card">
                            <img class="mx-auto"  src="/static/assets/img/cryptos/solana-logo.svg" title='SOL' height="250" width="250">
                            <div class="">
                                <a class="card-body fs-5 fw-bold mb-0 col d-block d-xl-flex align-items-center" href="/art-trader/{{'SOL'}}">Conoce a Solana</a>
                                <div class="card border-0 shadow">
                                    <div class="card-body">
                                         <!--span class="badge bg-success">Good crypto</span-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col text-end">
                    <a href="/cryptos" class="btn btn-sm btn-primary">Ver todas</a>
                </div>
            </div>
        </div>
    </div>
    <iframe src='https://webchat.botframework.com/embed/chatbot-cm-bot?s=TU_SECRETO_AQUÍ'  style='min-width: 400px; width: 100%; min-height: 500px;'></iframe>

    <!--fontawesom script cdn-->
    <script src="https://use.fontawesome.com/058028e14d.js"></script>
    <script src="/static/assets/js/cryptoprice.js"></script>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}