{% extends "layouts/base_trader.html" %}

{% block title %}{% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<!--Dashboard-->
<div class="col-12 mb-4">
    <div class="card border-0 shadow">
        <div class="card-header">
        <div class="row">
            <div class="col-12 col-sm-6 col-xl-4 mb-4">
                <div class="col-12 mb-4">
                    <div>
                        <div class="card">
                            <div class="">
                                <a class="card-body fs-5 fw-bold mb-0 col d-block d-xl-flex align-items-center" href="">{{ nombrecrypto }}</a>
                            </div>
                            <img class="mx-auto" src="{{fotocrypto}}" height="250" width="250">          
                            <div class="card border-0 shadow">
                                <div class="card-body">
                                    <div class="row d-block d-xl-flex align-items-center">                                    
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <div class="col-12 col-sm-6 col-xl-8 mb-4">
                <div class="col-12 col-xl-12">
                    <div class="row">
                        <div class="col-12 mb-4">
                            <div class="card border-0 shadow">
                                <div class="card-header">
                                    <div class="row align-items-center">
                                        <div class="col">
                                            <h2 class="fs-5 fw-bold mb-0">Conoce a {{nombrecrypto}}</h2>
                                            <span class="{{clase}}">{{rank}}</span>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="table-responsive">
                                    <div class="card border-0 shadow">
                                        <div class="card-body">
                                            <div class="row d-block d-xl-flex align-items-center">
                                                <p>{{descripcion}}</p>
                                            </div>
                                        </div>
                                    </div>                               
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    
    <div class="row">
        <div class="col-12 col-sm-6 col-xl-12 mb-4">
            <div class="card-body border-0 mb-4 mb-xl-0">
                <h2 class="h5 mb-4">Artículos Relacionados</h2>

                <div class="row">
                    {% for articulos in articulos_crypto %}
                    <div class="card border-0 shadow p-4 col-12 col-sm-6 col-xl-4 mb-4">
                            <div class="card-header d-flex align-items-center justify-content-between border-0 p-0 mb-3">
                                <div>
                                    <!-- Edit Card Dropdown -->
                                    <div class="dropdown">
                                        <button type="button" class="btn btn-sm fs-6 px-1 py-0 dropdown-toggle" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                            <svg class="icon icon-xs text-gray-500" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path></svg>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body p-0">
                                <a href="/articulos">
                                <img src="https://images.unsplash.com/photo-1633596683562-4a47eb4983c5?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjR8fGZpbmFuY2UlMjAzZCUyMHJlbmRlcnxlbnwwfDB8MHx8&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=500&amp;q=60" class="card border-0 shadow  mb-2 mb-lg-3" alt="themesberg marketplace">
                                <h3 class="h5 mb-0">{{ articulos.nombreArticulo }}</h3>
                                <div class="row">
                                    <h5 class="col fs-6 fw-normal mt-4">Autor: {{ articulos.autorArticulo }} - {{articulos.fechaDePublicacion.strftime("%b %d %Y ")}} </h5>
                                    <div class="col avatar-group">
                                        <a href="#" class="avatar" data-bs-toggle="tooltip" data-original-title="Ryan Tompson" data-bs-original-title="Ryan Tompson" title="">
                                            <img class="rounded" alt="Image placeholder" src="https://appsrv1-147a1.kxcdn.com/volt-dashboard-pro-v141/img/team/profile-picture-1.jpg">
                                        </a>
                                    </div>
                                </div>
                                <p maxlength="20">{{ articulos.articulo}}</p>
                            </div>
                    </div>
                    {% endfor %}
                </div>
            </div>                
        </div>
    </div>
</div>
    <!--fontawesom script cdn-->
    <script src="https://use.fontawesome.com/058028e14d.js"></script>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}