{% extends "layouts/base_trader.html" %}

{% block title %}{% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<!--Dashboard-->
<div class="col-12 mb-4">
    <div class="card border-0 shadow">
        <div class="card-header">
        <div class="row">
            <div class="col-12 col-sm-6 col-xl-4 mb-4">
                <div class="col-12 mb-4">
                    <div>
                        <div class="card">
                            <div class="">
                                <a class="card-body fs-5 fw-bold mb-0 col d-block d-xl-flex align-items-center" href="">{{ nombrecrypto }}</a>
                            </div>
                            <img class="mx-auto" src="{{fotocrypto}}" height="250" width="250">          
                            <div class="card border-0 shadow">
                                <div class="card-body">
                                    <div class="row d-block d-xl-flex align-items-center">                                    
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <div class="col-12 col-sm-6 col-xl-8 mb-4">
                <div class="col-12 col-xl-12">
                    <div class="row">
                        <div class="col-12 mb-4">
                            <div class="card border-0 shadow">
                                <div class="card-header">
                                    <div class="row align-items-center">
                                        <div class="col">
                                            <h2 class="fs-5 fw-bold mb-0">Conoce a {{nombrecrypto}}</h2>
                                            <h5>
                                                <span class="{{clase}}">{{rank}}</span>
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="table-responsive">
                                    <div class="card border-0 shadow">
                                        <div class="card-body">
                                            <div class="row d-block d-xl-flex align-items-center">
                                                <p>{{descripcion}}</p>
                                            </div>
                                        </div>
                                    </div>                               
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    
    <div class="row">
        <div class="col-12 col-sm-6 col-xl-12 mb-4">
            <div class="card-body border-0 mb-4 mb-xl-0">
                <h2 class="h5 mb-4">Artículos Relacionados</h2>

                <div class="row">
                    {% for articulos in articulos_crypto %}
                    <div class="card border-0 shadow p-4 col-12 col-sm-6 col-xl-4 mb-4">
                            <div class="card-body p-0">
                                <a href="/articuloscrypto/{{articulos.id}}">
                                <img src="{{articulos.fotoArticulo}}" class="card border-0 shadow  mb-2 mb-lg-3" alt="themesberg marketplace" width="450" height="250">
                                <h3 class="h5 mb-0">{{ articulos.nombreArticulo }}</h3>
                                <div class="row">
                                    <h5 class="col fs-6 fw-normal mt-4">Autor: {{ articulos.autorArticulo }} - {{articulos.fechaDePublicacion.strftime("%b %d %Y ")}} </h5>
                                    <div class="col avatar-group">
                                        <a class="avatar" data-bs-toggle="tooltip" data-original-title="{{ articulos.autorArticulo }}" data-bs-original-title="{{ articulos.autorArticulo }}" title="">
                                            <img class="rounded" alt="Image placeholder" src="/static/assets/img/investigador.png">
                                        </a>
                                    </div>
                                </div>
                                <!--p maxlength="20">{{ articulos.articulo}}</p-->
                            </div>
                    </div>
                    {% endfor %}
                </div>
            </div>                
        </div>
    </div>
</div>
    <!--fontawesom script cdn-->
    <script src="https://use.fontawesome.com/058028e14d.js"></script>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}